body {
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.liste {
   display: block;
   width: 500px;
   margin: 250px auto 0 ;
}

h1, h3 {
    color: black;
    font-weight: 300;
    font-size: 18px;
    border-bottom: 2px solid black;
    padding: 40px 0px 10px;
    margin-bottom: 10px;
  }

button {
    background: none;
    border: 0px;
    color: grey;
    font-size: x-small;
    width: 75px;
    margin: 10px 0 0;
    text-align: center;
    cursor: grab;
}  

.hinzuButton {
    margin-top: 20px;
    margin-left: 15px;
}

input[type="text"] {
    font-size: 12px;
    height: 14px;
    padding: 10px;
    border: 1px solid grey;
    background: #fff;
    border-radius: 8px;
    color: black;
    width: 350px;
    margin-top: 10px;
    margin-left: 15px;
}

li * {
    float: left;
}

li {
    list-style:none;
    overflow: scroll;
    padding: 5px 0;
    border-bottom: 1px solid grey;
}

  li > input[type="checkbox"] {
    margin: 0 25px;
    position: relative;
    top: 10px;
}

li > label {
    font-size: 12px;
    line-height: 35px;
    width: 237px;  
}
  
li >  input[type="text"] {
    width: 226px;
}

#erledigtes-to-do  label {
    text-decoration: line-through;
    color: gray;
}




