body {
    background: whitesmoke;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.liste {
    display: block;
    width: 400px;
    margin: 100px auto 0;
}

h1, h3 {
    color: black;
    font-weight: 300;
    font-size: 18px;
    border-bottom: 2px solid black;
    padding: 40px 0px 10px;
    margin-bottom: 10px;
}

input {
    border-radius: 8px;
    min-width: 70%;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
    border: 1px solid grey;
}

#enter {
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: grey;
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: grab;
}

ul {
    padding-left: 15px;
    padding-right: 15px;
}

li {
    text-align: left;
    margin-top: 10px;
    list-style: none;
    padding: 10px;
    overflow: scroll;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

input[type="checkbox"] {
    margin-right: 30px;

}

button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: grey;
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: grab;
}

.done {
    text-decoration: line-through;
    color: grey;
}

.delete {
    display: none;
}

